<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gotaxiapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data android:name="com.google.android.geo.API_KEY" 
                android:value="AIzaSyA-zS8mNCVfEiP8NN33X6iqNQLC1t8GU28"/>
    </application>
    
</manifest>
